@import "share";
@import "footer";

$bar-header-bg: #549AF7;
$bar-header-text: #fff;
$bar-button-text: $bar-header-text;
$menu-main-bg: #F1F2F2;
$menu-sub-bg: #EEE8AA;
$menu-sub-border: #ccc;

.bar-header {
    background: $bar-header-bg !important;
    .title {
        color: $bar-header-text !important;
    }
    .buttons {
        color: $bar-button-text;
    }
}

.menu-collapse {
    padding: 0 !important;
    .main {
        padding: 15px;
        background: $menu-main-bg !important;
    }
    .sub {
        background: $menu-sub-bg;
        padding: 15px;
        font-size: 14px;
        border-top: 1px $menu-sub-border solid;
    }
}
