$game-predict-detail-bg: #213647;
$game-predict-detail-text: #fff;
$username-color: #F2A83B;
$img-user-border: $game-predict-detail-text;
$border-info-color: #0079FF;
$pts-color: #FAAF40;
$score-color-bg: #549AF7;
$subhead-color-bg: #418AC9;
$bar-color-bg: #EEEDED;
$bar-color: $game-predict-detail-bg;
$point-bar-color-bg: $game-predict-detail-text;
$point-bar-color: $bar-color;
$point-border-color: #939598;
$point-color: $username-color;
$line-color-bg: #549AF7;
$history-color: $match-color-bg;

.game-predict-detail {
    background: $game-predict-detail-bg;
    color: $game-predict-detail-text;
    .row {
        padding: 8px;
    }
    .bg {
        position: absolute;
        width: 100%;
        overflow: inherit;
        height: 4%;
    }
    .point {
        width: 120px;
        float: right;
        z-index: 5;
        position: absolute;
        right: 3%;
        margin-top: 15px;
        margin-right: 10px;
        .pts {
            color: $pts-color;
            position: relative;
            float: left;
            z-index: 3;
            text-align: center;
            margin-top: 8px;
            margin-left: 25px;
        }
        .score {
            width: 70px;
            height: 30px;
            border-radius: 5px;
            background: $score-color-bg;
            z-index: 2;
            position: relative;
            float: right;
            text-align: center;
            padding: 3px;
            h3 {
                color: $game-predict-detail-text;
                margin: 0;
                font-size: 20px;
            }
        }
    }
    .col-50 {
        z-index: 2;
        p {
            color: $username-color;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .user {
            width: 70px;
            height: 70px;
            border: 3px $img-user-border solid;
            border-radius: 50%;
        }
        img {
            display: block;
            margin: 0 auto;
        }
        small {
            color: $game-predict-detail-text;
            margin-left: 20px;
        }
        h4 {
            color: $game-predict-detail-text;
            margin-left: 20px;
            margin-bottom: 10px;
        }
    }
    .col-20 {
        position: relative;
        text-align: center;
        h2 {
            color: $game-predict-detail-text;
            margin-bottom: 0px;
            margin-top: 5px;
            float: left;
            margin-left: 8px;
        }
    }
    .border {
        border-left: solid $border-info-color 3px;
    }
    .line {
        background: $line-color-bg;
        height: 5px;
    }
}
