$game-prediction-detail-bg: #213647;
$game-prediction-detail-text: #ffffff;
$username-color: #F2A83B;
$border-color: #0079FF;
$img-user-border: $game-prediction-detail-text;
$border-info-color: #0079FF;

.game-predict-detail {
    background: $game-prediction-detail-bg;
    .row {
        padding: 10px;
    }
    .col-50 {
        padding: 5px;
        p {
            color: $username-color;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0px;
        }
        .user {
            width: 70px;
            height: 70px;
            border: 3px $img-user-border solid;
            border-radius: 50%;
        }
        img {
            display: block;
            margin: 0 auto;
        }
        h4 {
            color: $game-prediction-detail-text;
            margin: 0px;
        }
        h6 {
            color: $game-prediction-detail-text;
            margin-top: 5px;
        }
    }
    .col-20 {
        h1 {
            color: $game-prediction-detail-text;
        }
    }
    .col {
        .pts {
            color: $pts-color;
        }
    }
    .border {
        border-left: solid $border-info-color 3px;
        z-index: 2;
    }
}
