$game-prediction-text: #fff;
$game-prediction-bg: #213647;
$row-border-color: #4089C8;
$pts-color: #FAAF40;
$score-color-bg: #549AF7;
$img-user-border-color: $game-prediction-text;
$rating-border-color: $img-user-border-color;
$count-color: $score-color-bg;
$rating-color-bg: #4089C8;

.game-prediction-content {
    background: $game-prediction-bg;
    a {
        text-decoration: none;
    }
    .row {
        border-bottom: solid $row-border-color 1px;
    }
    .info {
        padding: 10px;
        width: 100%;
        position: relative;
        .user {
            float: left;
            margin-right: 10px;
            width: 50px;
            height: 50px;
            border: 2px $img-user-border-color solid;
            border-radius: 50%;
        }
        .rating {
            width: 20px;
            height: 20px;
            border: 2px $rating-border-color solid;
            border-radius: 50%;
            position: absolute;
            margin-top: 37px;
            margin-left: 15px;
            background: $rating-color-bg;
            text-align: center;
            h3 {
                margin: 1px;
                font-size: 12px;
                color: $game-prediction-text;
            }
        }
        .username {
            width: 70%;
            color: $game-prediction-text;
            margin-top: 5px;
            font-size: 14px;
        }
        .count {
            font-size: 12px;
            color: $game-prediction-text;
            .color {
                color: $count-color;
                font-size: small;
            }
        }
    }
    .point {
        width: 120px;
        float: right;
        z-index: 5;
        position: absolute;
        right: 3%;
        margin-top: 20px;
        margin-right: 10px;
        .pts {
            color: $pts-color;
            position: relative;
            float: left;
            z-index: 3;
            text-align: center;
            margin-top: 8px;
            margin-left: 25px;
        }
        .score {
            width: 70px;
            height: 30px;
            border-radius: 5px;
            background: $score-color-bg;
            z-index: 2;
            position: relative;
            float: right;
            text-align: center;
            padding: 3px;
            h3 {
                color: $game-prediction-text;
                margin: 0;
                font-size: 20px;
            }
        }
    }
}
