ion-view(view-title='Game Setting')

    ion-content
        .game-setting
            .user-info
                .avatar
                .username AAAISMAUSER
                .fullname AAA ISMYUSER
                .email aaa@aaaa.com
            .team-choosen
                .header Team Favorite
                .logo
            button.button.button-block(ng-click="") Choose Team
            button.button.button-block(type='submit') Submit
