.anfield-content

md-tabs.player-tab
    md-tab(label="All")
        md-content
        ul.lists
            li.position
                .mf
            li.avatar
                item-avatar
                    img.player(src="img/sidebar/league_game_2x.png")
            li.nationality
                img.flag
            li.username AAAAAAAAAA BBBBBBBBBBBBB
            li.yellow
                .cards
                span 1
            li.red
                .cards
                span 1
            li.total
            li.watch

    md-tab
        label="GK"
    md-tab
        label="DF"
    md-tab
        label="MF"
    md-tab
        label="CF"
