.anfield-content

md-tabs.player-tab
    md-tab(label="All")
        md-content
            .lists(layout="row")
                .position(flex)
                    .mf
                .avatar(flex)
                    img
                .nationality(flex)
                    img
                .username(flex="35")
                    .name AAAAAAAA  SSSSS ssffglh;dslsd;g
                .yellow(flex)
                    .cards
                    span 5
                .red(flex)
                    .cards
                    span 5
                .total(flex)
                    img(src="img/sidebar/match_2x.png")
                    .ball
                    span 5
                .watch(flex)

    md-tab
        label="GK"
    md-tab
        label="DF"
    md-tab
        label="MF"
    md-tab
        label="CF"
