.anfield-content

md-tabs.player-position
    md-tab(label="All")
        md-content
            .lists(layout="row", ng-repeat="a in r")
                .position
                    .mf
                .avatar
                .nationality
                .username(flex="30")
                    .name AAAAAAAA  SSSSS
                .yellow
                    .cards
                    span 5
                .red
                    .cards
                    span 5
                .total
                    .ball
                    span 5
                .watch
                    i.ion-ios-eye
    md-tab(label="GK")
        md-content
            .lists(layout="row", ng-repeat="a in r")
                .position
                    .gk
                .avatar
                .nationality
                .username(flex="30")
                    .name AAAAAAAA  SSSSS
                .yellow
                    .cards
                    span 5
                .red
                    .cards
                    span 5
                .total
                    .ball
                    span 5
                .watch
                    i.ion-ios-eye
    md-tab(label="DF")
        md-content
            .lists(layout="row", ng-repeat="a in r")
                .position
                    .df
                .avatar
                .nationality
                .username(flex="30")
                    .name AAAAAAAA  SSSSS
                .yellow
                    .cards
                    span 5
                .red
                    .cards
                    span 5
                .total
                    .ball
                    span 5
                .watch
                    i.ion-ios-eye
    md-tab(label="MF")
        md-content
            .lists(layout="row", ng-repeat="a in r")
                .position
                    .mf
                .avatar
                .nationality
                .username(flex="30")
                    .name AAAAAAAA  SSSSS
                .yellow
                    .cards
                    span 5
                .red
                    .cards
                    span 5
                .total
                    .ball
                    span 5
                .watch
                    i.ion-ios-eye
    md-tab(label="CF")
        md-content
            .lists(layout="row", ng-repeat="a in r")
                .position
                    .cf
                .avatar
                .nationality
                .username(flex="30")
                    .name AAAAAAAA  SSSSS
                .yellow
                    .cards
                    span 5
                .red
                    .cards
                    span 5
                .total
                    .ball
                    span 5
                .watch
                    i.ion-ios-eye
