.pattern-slide
    ul.slide(rn-carousel rn-carousel-controls)
        li.lists
            |4-4-1-1
        li.lists
            |2-3-3-3
        li.lists
            |4-4-1-1
        li.lists
            |2-3-3-3
