$statistic-status-bg: #213647;
$statistic-status-text: #fff;
$statistic-status-w: #39B54A;
$statistic-status-d: #F5D620;
$statistic-status-l: #FF3B30;
$match-statistic-vs-bg: #549AF7;
$match-statistic-text: #fff;
$match-statistic-ft: orange;
$statistic-share-bg: #213647;

.statistic-status {
    padding: 15px;
    overflow: hidden;
    margin: 0 auto;
    background: $statistic-status-bg;
    .status {
        text-align: center;
        width: 20px;
        height: 20px;
        float: left;
        margin: 0 3px;
        color: $statistic-status-text;
        &.-w {
            background: $statistic-status-w;
        }
        &.-d {
            background: $statistic-status-d;
        }
        &.-l {
            background: $statistic-status-l;
        }
    }
}

.statistic-share {
    background: $statistic-share-bg;
    margin: 0 auto;
    width: 199%;
}

.match-statistic {
    .vs {
        background: $match-statistic-vs-bg;
        &.-nextmatch {
            color: $match-statistic-text;
            padding-top: 15px;
            font-size: 30px;
        }
        &.-fulltime {
            color: $match-statistic-text;
        }
        .ft {
            color: $match-statistic-ft;
            border: none;
            background: none;
        }
    }
}

.md-tabs-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

