.game-prediction-content
    a.row(href="#")
        .point
            h5.pts Pts
            .score
                h3 4563
        .info
            img.user(ng-src="#")
            h4.username Hipster - ตุงตาข่าย
            h6.count เกมทาย 45 ครั้ง
.game-prediction-content
    a.row(href="#")
        .point
            h5.pts Pts
            .score
                h3 4200
        .info
            img.user(ng-src="#")
            h4.username Chappuis
            h6.count เกมทาย 45 ครั้ง
.game-prediction-content
    a.row(href="#")
        .point
            h5.pts Pts
            .score
                h3 2051
        .info
            img.user(ng-src="#")
            h4.username ทายส่งเดช
            h6.count เกมทาย 45 ครั้ง
