.game-predict-detail
    .row
        .col-50
            img.image.user(ng-src="./img/ranking/display_null.png")
            .name Liverpool 2015
        .infoborder.col-50
            img.image(ng-src="./img/ranking/icon-chonburi.png")
            .name Chonburi FC
    .bg
        .pointUser(
            ng-repeat="pointUser in pointUsers"
            ng-class="{bg2 : pointUser.game == 'เกมทายสกอร์'}"
            )
            .row
                .point
                    .pts Pts
                    .scorebd
                        .score {{pointUser.score}}
                .col-50
                    .game {{pointUser.game}}
                    .gameEn {{pointUser.gameEn}}
                .col-20
                    .tally {{pointUser.point}}

    include ./game-prediction/season-points
    include ./game-prediction/month-points
    include ./game-prediction/lasted-match

    .row
        .history History ประวัติการทายผลทั้งหมด
    .line
    .footer
