.game-prediction-content(ng-repeat="gamePrediction in gamePredictions")
    a.row(ui-sref="app.ranking.game-prediction-show({id: gamePrediction.id})")
        .info
            img.user.img-circle(ng-src="{{gamePrediction.image}}")
            .rating
                h3 {{gamePrediction.rating}}
            .username {{gamePrediction.username}}
            .count
                span {{'ui.t.ranking.prediction.predict'|trans}}
                span.color  {{gamePrediction.count}}
                span  {{'ui.t.ranking.prediction.used'|trans}}
        .point
            .pts {{'ui.t.ranking.prediction.pts'|trans}}
            .score
                h3 {{gamePrediction.score}}
