.game-prediction-content(ng-repeat="gameScore in gameScores")
    a.row(ui-sref="app.ranking.game-score-show({id: gameScore.id})")
        .info
            img.user.img-circle(ng-src="{{gameScore.image}}")
            .rating
                h3 {{gameScore.rating}}
            .username {{gameScore.username}}
            .count
                span {{'ui.t.ranking.prediction.predict'|trans}}
                span.color  {{gameScore.count}}
                span  {{'ui.t.ranking.prediction.used'|trans}}
        .point
            .pts {{'ui.t.ranking.prediction.pts'|trans}}
            .score
                h3 {{gameScore.score}}
