.game-predict-detail
    .row
        .col-50
            img.user.img-circle(ng-src="./img/ranking/display_null.png")
            p Liverpool 2015
        .border.col-50
            img(ng-src="./img/ranking/icon-chonburi.png")
            p ChonburiFC
    img.bg(ng-src="./img/ranking/bg-point-user.png")
    .row
        .point
            .pts Pts
            .score
                h3 0
        .col-50
            h4 เกมทายผลทายสกอร์
            small Ranking
        .col-20
            h2 0
    img.bg(ng-src="./img/ranking/bg-point-user2.png")
    .row
        .point
            .pts Pts
            .score
                h3 0
        .col-50
            h4 เกมทายสกอร์
            small Ranking
        .col-20
            h2 0
    img.bg(ng-src="./img/ranking/bg-point-user3.png")
    .row
        .point
            .pts Pts
            .score
                h3 0
        .col-50
            h4 เกมทาย 11 ตัวจริง
            small Ranking
        .col-20
            h2 0
    .subhead
        img(ng-src="./img/ranking/subhead.png")
        h3 Season Points
            span.small   คะแนนรวมทั้งฤดูกาล
    .title  เกมทายผล
    .row.bar
        .col-33
            p เจ้าบ้าน
        .col-33
            p เสมอ
        .col-33
            p ทีมเยือน
    .row.point-bar
        .col-33
            h4 24
                span  8
            small คะแนน ·  นัด
        .col-33
            h4 15
                span  5
            small คะแนน ·  นัด
        .col-33
            h4  3
                span  2
            small คะแนน ·  นัด
    .row.bar
        .col
            p จำนวน
        .col
            p ถูก
        .col
            p ผิด
        .col
            p คะแนน
    .row.point-bar
        .col
            p 15
        .col
            p 14
        .col
            p 1
        .col
            p 45
    .line

