ion-view(view-title='Rankings')
    ion-tabs.tabs-top.tabs-dark
        ion-tab(title='เกมทายผล')
            ion-tab-content
                ion-content
                    ion-item.item-avatar(href="#")
                        img(ng-src="#" style="height:70px")
                        h2 Hister - ตุงตาข่าย
                        h4 เกมทาย 45 ครั้ง
                    ion-item.item-avatar(href="#")
                        img(ng-src="#" style="height:70px")
                        h2 Chappuis
                        h4 เกมทาย 45 ครั้ง
        ion-tab(title='เกมทายสกอร์')
            ion-tab-content
                ion-content
                    | Tab 2 content
        ion-tab(title='เกมทาย 11 ตัวจริง')
            ion-tab-content
                ion-content
                    | Tab 3 content