$statistic-status-bg: #213647;
$statistic-status-text: #fff;
$statistic-status-w: #39B54A;
$statistic-status-d: #F5D620;
$statistic-status-l: #FF3B30;
$h2h-collapse-head-bg: red;
$h2h-collapse-text: $statistic-status-text;
$h2h-collapse-title-bg: #383A3B;
$h2h-collapse-odd: #213647;
$h2h-collapse-even: #162A38;

.statistic-status {
    padding: 15px;
    overflow: hidden;
    margin: 0 auto;
    background: $statistic-status-bg;
    .status {
        text-align: center;
        width: 20px;
        height: 20px;
        float: left;
        margin: 0 3px;
        color: $statistic-status-text;
        &.-w {
            background: $statistic-status-w;
        }
        &.-d {
            background: $statistic-status-d;
        }
        &.-l {
            background: $statistic-status-l;
        }
    }
}

.h2h-collapse {
    overflow: hidden;
    color: $h2h-collapse-text;
    .header {
        position: relative;
        padding: 15px;
        background: $h2h-collapse-head-bg;
        font-size: 14px;
        color: inherit;
    }

    .slides {
        height: 200px;
        color: inherit;
        .titles {
            background: $h2h-collapse-title-bg;
            padding: 5px 10px;
        }
        .odd {
            background: $h2h-collapse-odd;
        }
        .even {
            background: $h2h-collapse-even;
        }
    }
}
