ion-view(view-title='{{"ui.t.user.request-password.title"|trans}}')
    ion-content
        form(name="request-password")
            .register-form.list
                label.item.item-input
                    input(
                        type="email",
                        name="email",
                        ng-model="email",
                        placeholder="Enter your email",
                        required
                    )

                p(ng-show="register.email.$dirty && register.email.$invalid")
                    span(ng-show="register.email.$error.required") Email required!
                    span(ng-show="register.email.$error.email") Email valid!

                label
                    button.button.button-block(type='submit')
                        | {{'ui.t.user.submit'|trans}}
