.statistic-status.row(flex)
    .col.col-50(layout="row", layout-align="center")
        .status.-w w
        .status.-d d
        .status.-l l
        .status.-w w
        .status.-w w
    .col.col-50(layout="row", layout-align="center")
        .status.-w w
        .status.-d d
        .status.-l l
        .status.-w w
        .status.-w w
