$match-info-vs-bg: #549AF7;
$match-info-vs-text: #fff;

.match-info {
    text-align: center;
    padding: 0;
    overflow: hidden;
    white-space: normal;
    height: 40px;
    .vs {
        background: #549AF7;
        color: #fff;
    }
    .logo {
        width: 30px;
        height: 30px;
    }
}

.match-detail {
    padding: 15px !important;
    background: #111F28;
    overflow: hidden;
    color: #fff;
    .stadium {
        float: left;
    }
    .time {
        float: right;
        color: orange;
        .total {
            margin-left: 10px;
            color: #fff;
        }
    }
}

.slide {
    width: 100%;
    height: 300px;
    background: #000;
}
