$lasted-match-bg: #213647;
$subhead-color-bg: #418AC9;
$title-color: #fff;
$halfcircle-color-bg: $lasted-match-bg;
$bar-color-bg: #EEEDED;
$bar-color: $halfcircle-color-bg;
$subtitle-color: $title-color;
$titlebar-color: $bar-color;
$point-bar-color-bg: $subtitle-color;
$point-bar-color: $titlebar-color;
$scorecolor-color: #F2A83B;
$scorereal-color: $point-bar-color;
$point-border-color: #939598;
$line-color-bg: #549AF7;
$resultname-color: $scorereal-color;
$resultunit-color: $resultname-color;
$total-color-bg: $bar-color-bg;
$total-color: $precisely-color;
$sum-color: #F7941E;

.lasted-match {
    background: $lasted-match-bg;
    .row {
        padding: 0px;
    }
    .subhead {
        background: $subhead-color-bg;
        position: relative;
        margin-left: 5px;
        .halfcircle {
            height:40px;
            width:20px;
            border-radius: 0 20px 20px 0;
            background:$halfcircle-color-bg;
        }
        .title {
            font-size: 20px;
            color: $title-color;
            padding: 8px 0 8px 10px;
        }
        .titleth {
            font-size: small;
        }
    }
    .subtitle {
        font-size: 18px;
        color: $subtitle-color;
        padding: 10px 0 10px 35px;
        position: relative;
    }
    .line {
        background: $line-color-bg;
        height: 5px;
    }
    .resultname {
        color: $resultname-color;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 10px 25px;
    }
    .resultunit {
        color: $resultunit-color;
        font-weight: bold;
        font-size: 18px;
    }
    .scorecolor {
        color: $scorecolor-color;
        font-size: 16px;
        text-align: center;
    }
    .scorereal {
        color: $scorereal-color;
        margin-left: 50px;

    }
    .total {
        background: $total-color-bg;
        position: relative;
        .col-50 {
            float: left;
            .sum {
                color: $sum-color;
                font-size: 30px;
                font-weight: 700;
                float: left;
                margin-left: 43%;
                padding: 10px;
            }
        }
    }
    .date {
        background: $date-color-bg;
        position: relative;
        font-size: 14px;
        color: $date-color;
        padding: 5px 0 5px 25px;
        margin: 0px;
    }
    .match {
        background: $match-color-bg;
        padding: 5px 0;
        position: relative;
        height: inherit;
        .col-37 {
            padding: 0px;
            margin-left: 15px;
            span {
                padding-left: 5px ;
            }
        }
        .col {
            padding: 0px;
        }
    }
    .handicap {
        font-size: 14px;
        color: $handicap-color;
        margin: 0px;
        text-align: center;
    }
    .focus {
        background-color: #F8EC7D;
        padding: 0 8px;
        color: $match-color;
    }
    .club {
        font-size: 14px;
        color: $match-color;
        margin: 0px;
    }
}
