ion-view(view-title="Home")
    ion-pane
        ion-content.has-header
            div(ui-view="home-matches")
            div(ui-view="home-news")
            div(ui-view="home-ads")
            div(ui-view="home-matchtalk")
