md-content
    .matchtalk-header {{"ui.t.home.matchtalk.title"|trans}}

    md-list.matchtalk-list
        md-list-item.md-4-line
            img.avatar
            .md-list-item-text
                .time {{"10/10/10 : 02:30"}}
                .name username
                .comment comment from user

    md-divider(md-inset ng-if="!$last")
