.news-header {{'ui.t.news.header.lasted'|trans}}
    a.views(ui-sref='app.news') {{'ui.t.news.header.view'|trans}}

.news-thumbnail(ng-repeat="r in store.$collection | limitTo:quantity")
    a(ui-sref="app.news-show({ newsId:r.id })")
        img.cover(ng-src="{{r.cover}}")
        .info
            h3.headline {{r.headline}}
            img.columnist(ng-src="{{r.user.profile_picture}}")
            p.author {{r.user.displayname}}

//TODO: might be change thumbnail layout
//.test(flex)
//    md-grid-list(md-cols-sm="2", md-cols-md="2", md-cols-gt-md="2", md-row-height-gt-md="1:1",
//    md-row-height="1:1", md-gutter="8px", md-gutter-gt-sm="4px")
//        md-grid-tile(md-colspan="2", md-colspan-sm="2")
//            h3 #1: (3r x 2c)
