.expand-collapse.game-collapse
    .container
        .section
            .select(ng-click!="active = !active", ng-class!="{'collapsed': active, 'expanded': !active}")
                | select

        .section
            .select(ng-click!="active = !active", ng-class!="{'collapsed': active, 'expanded': !active}")
                | select

        .section
            .select(ng-click!="active = !active", ng-class!="{'collapsed': active, 'expanded': !active}")
                | select

    .slides.-clear(ng-hide="active")
        .content
        md-input-container
            input
