$base-collapse-head-bg: #549AF7;
$base-collapse-text: #fff;
$base-collapse-title-bg: #383A3B;
$base-collapse-odd: #213647;
$base-collapse-even: #162A38;
$base-collapse-up: #209E22;
$base-collapse-down: #D62C2C;

.league-table {
    color: $base-collapse-text;
    width: 100%;
    overflow: hidden;
    .header {
        padding: 15px;
        background: $base-collapse-head-bg;
        font-size: 14px;
        color: inherit;
        border-bottom: 1px solid lightslategrey;
    }
    .titles {
        background: $base-collapse-title-bg;
        padding: 5px 10px;
    }
    .home {
        background: $base-collapse-odd;
    }
    .away {
        background: $base-collapse-even;
    }
    .status{
        margin-top: 7px;
        .up {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid $base-collapse-up;
        }
        .down {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid $base-collapse-down;
        }
    }
}
