ion-view(view-title='Matches')
    ion-content
        // current day
        .match-header
            button.prev(type="button") {{"<<10/01/10"}}
            .date {{store.$collection[0].match_day|date:('dd/MM/yyyy')}}
            button.next(type="button") {{"30/10/10>>"}}

        ion-item.match-item(collection-repeat="item in matches")
            .league-header
                .logo
                .league {{item.season.name}}

            ion-item.match-item(ng-repeat="r in item.items")

                .club
                    img.logo(ng-src="{{r.home_club.getLogo('70x70')}}")
                    span.name {{r.home_club.name}}
                .vs {{r.result}}
                    p.time {{r.start_time|date:('HH:MM')}}
                .club
                    img.logo(ng-src="{{r.away_club.getLogo('70x70')}}")
                    span.name {{r.away_club.name}}

        ion-infinite-scroll(
            ng-if="store.hasMorePage()"
            on-infinite="store.getNextPage()"
            distance="5%"
            spinner="{{$spinnerIcon}}"
        )
//TODO: This teamplate might be change style
