ion-view(view-title="{{'ui.t.match.header.title'|trans}}")
    ion-content
        // current day
        .match-header(layout="row")
            .col
                button.prev(type="button") {{"10/01/10"}}
            .col.col-30.date {{store.$collection[0].match_day|date:('dd/MM/yyyy')}}
            .col
                button.next(type="button") {{"30/10/10"}}

        ion-item.match-item(collection-repeat="item in matches")
            .league-header
                .logo
                .league {{item.season.name}}

            ion-item.match-item(ng-repeat="r in item.items")
                include ../common/matches

        ion-infinite-scroll(
            ng-if="store.hasMorePage()"
            on-infinite="store.getNextPage()"
            distance="5%"
            spinner="{{$spinnerIcon}}"
        )
