.social-share.match-share
    .title {{"ui.t.share.title"|trans}}
    a.button.button-icon.icon.ion-android-share-alt
    a.button.button-icon.icon.ion-social-facebook
    a.button.button-icon.icon.ion-social-twitter
    a.button.button-icon.icon.ion-social-pinterest
