ion-view(view-title='Match')
    ion-tabs.tabs-top.tabs-dark
        ion-tab(title="เกมทายผล", ui-sref="app.match-show.game-prediction")
            ion-tab-content
                ion-content
                    div(ui-view="game-prediction")

        ion-tab(title="สถิติ", ui-sref="app.match-show.statistic")
            ion-tab-content
                ion-content
                    div(ui-view="statistic")
