//TODO:h2h might be from another controller
.expand-collapse.away-collapse
    .header(ng-click!="active2 = !active2", ng-class!="{'collapsed': active2, 'expanded': !active2}")
        .caret
        | Away Team
    .slides(ng-hide="active2")
        .content
            .row.titles
                .col Pos
                .col(flex=25) Date
                .col(flex=45)
                .col FT
        .div(ng-repeat="w in r")
            .row(ng-class-odd!="'odd'", ng-class-even!="'even'")
                .col ww
                .col(flex=25) ww
                .col(flex=45) ww
                .col ww
