//TODO:h2h might be from another controller
.expand-collapse.h2h-collapse
    .header(ng-click!="active = !active",
            ng-class!="{'collapsed': active, 'expanded': !active}",
            ng-animate="{'caret': active}"
            )
        .caret
        | Head 2 Head สถิติการพบกันล่าสุด
    .slides(ng-hide="active")
        .content
            .row.titles
                .col Pos
                .col(flex=25) Date
                .col(flex=45)
                .col FT
        .div(ng-repeat="w in r")
            .row(ng-class-odd!="'odd'", ng-class-even!="'even'")
                .col ww
                .col(flex=25) ww
                .col(flex=45) ww
                .col ww
