//TODO:h2h might be from another controller
.expand-collapse.league-collapse
    .header(ng-click!="active3 = !active3",
            ng-class!="{'collapsed': active3, 'expanded': !active3}"
            )
        .caret
        | League Table
    .slides(ng-hide="active3")
        .content
            .row.titles
                .col {{"ui.t.match.statistic.pos"|trans}}
                .col(flex="45") {{"ui.t.match.statistic.team"|trans}}
                .col {{"ui.t.match.statistic.p"|trans}}
                .col {{"ui.t.match.statistic.gd"|trans}}
                .col {{"ui.t.match.statistic.pts"|trans}}
                .col
        .div(ng-repeat="w in r")
            .row(ng-class-odd!="'odd'", ng-class-even!="'even'")
                .col.col-15 1
                .col(flex="45") aaaa
                .col 1
                .col 1
                .col 1
                .col
                    .status
                        .up
                        //.down
