$lastmatch-header-bg: #111F28;
$lastmatch-header-text: #fff;
$lastmatch-header-views-border: $lastmatch-header-text;

.lastmatch-header {
    background: $lastmatch-header-bg;
    padding: 15px;
    color: $lastmatch-header-text;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    .views {
        float: right;
        font-size: 14px;
        font-weight: normal;
        color: inherit;
        text-decoration: none;
        padding: 0 5px;
        border: 2px solid $lastmatch-header-views-border;
    }
}
