//Overwrite from common/share.scss
$match-share-border: #000;
$match-share-bg: #213647;

.match-share {
    background: $match-share-bg;
    width: 100%;
    margin: 0;
    padding-left: 15%;
    border-bottom: 0;
    border-top: 1px solid $match-share-border;
}
