ion-side-menus(enable-menu-with-back-views='false')
    ion-side-menu-content
        ion-nav-bar.bar-header
            ion-nav-back-button.buttons
            ion-nav-buttons(side='left')
                button.button.button-icon.buttons.ion-navicon(menu-toggle='left')

        // content section
        ion-nav-view(name="content")

    ion-side-menu(side="left" expose-aside-when="large")
        ion-header-bar.bar-stable.bar-user(ng-show="IsLoggedIn")
            img.icons(src="img/sidebar/profile_2x.png")
            .username test username {{IsLoggedIn}}

        ion-content
            ion-list.list-menu
                ion-item(menu-close='', ui-sref='app.home.index')
                    img.icons(src="img/sidebar/home-feed_2x.png")
                    .menus HOME FEED
                ion-item(menu-close='', ui-sref='app.news')
                    img.icons(src="img/sidebar/news_2x.png")
                    .menus NEWS
                ion-item(menu-close='', ui-sref='app.matches')
                    img.icons(src="img/sidebar/match_2x.png")
                    .menus MATCHES

                ion-item.expand-collapse.menu-collapse
                    .main(ng-click!="leaguesactive = !leaguesactive",
                    ng-class!="{'collapsed': leaguesactive, 'expanded': !leaguesactive}")
                        img.icons(src="img/sidebar/league_game_2x.png")
                        .menus LEAGUES GAME
                        .caret
                    .slides
                        .sub(ng-hide="leaguesactive", ng-repeat="menu in menus.leagues",
                        menu-close='', href='')
                            img.icons(src="{{menu.logo}}")
                            | {{menu.text}}

                ion-item(menu-close='', ui-sref='app.ranking')
                    img.icons(src="img/sidebar/people_ranking_2x.png")
                    .menus PEOPLE RANKING

            ion-list.list-menu(ng-hide="IsLoggedIn")
                ion-item.main(menu-close='', ng-click='login()')
                    | LOG IN
                ion-item.main(menu-close='', ui-sref='app.register')
                    | SIGN IN

            ion-list.list-menu(ng-show="IsLoggedIn")
                ion-item.expand-collapse.menu-collapse
                    .main(ng-click!="settingactive = !settingactive",
                    ng-class!="{'collapsed': settingactive, 'expanded': !settingactive}")
                        .menus SETTING
                        .caret
                    .slides
                        .sub.setting(ng-hide="settingactive", ng-repeat="menu in menus.setting",
                        menu-close='', ui-sref='{{menu.link}}')
                            img.icons(src="{{menu.logo}}")
                            .menus {{menu.text}}

                ion-item.main(menu-close='')
                    | MORE
                ion-item.main(menu-close='', ng-click="")
                    | LOG OUT
