$favorite-form-bg: #0F171E;
$favorite-menu-bg: #192837;
$favorite-pain-border: #1A3253;
$favorite-pain-active: #255a74;
$favorite-pain-text: #fff;
$favorite-menu-footer: #185D85;

.favorite-form {
    color: $favorite-pain-text;
    overflow: hidden;
    .listview {
        background-color: $favorite-form-bg;
        margin-top: 64px;
        .item {
            background-color: $favorite-form-bg;
            border-style: solid none solid;
            border-color: $favorite-pain-border;
            &:focus {
                background-color: $favorite-pain-active;
            }
        }
    }
    .activated {
        background-color: $favorite-pain-active;
    }
}

.favorite-menu {
    background-color: $favorite-menu-bg;
    overflow: hidden;
    .item {
        background-color: inherit;
        border-style: solid none solid;
        border-color: $favorite-pain-border;
        padding: 10px;
        &:focus {
            background-color: $favorite-pain-active;
        }
    }
    .content {
        margin-left: 16px;
        color: $favorite-pain-text;
        border-style: solid;
    }
    .icon {
        width: 24px;
        margin-left: 10px;
    }
    .footer {
        color: $favorite-menu-footer;
        padding: 15px;
        font-size: 12px;
        overflow: hidden;
        border-style: solid none none;
        border-width: thin;
        border-color: $favorite-pain-border;
    }
    .activated {
        background-color: $favorite-pain-active;
    }
}
