.league-header
    .logo
    .league {{r.season.name}}
ion-item.match-item
        .club
            img.logo(ng-src!="{{r.home_club.getLogo('70x70')}}")
            span.name {{r.home_club.name}}
        .vs VS
            p.time {{r.start_time|date:('HH:MM')}}
        .club
            img.logo.-right(ng-src!="{{r.away_club.getLogo('70x70')}}")
            span.name {{r.away_club.name}}
.handicap-bar Handicap
    span.title {{r.handicap}}

include ./timeline
include ./game
include ./statistic
include ../share
