$news-bg: #549BF7;
$news-info-headline: #fff;
$news-info-author: $news-info-headline;
$news-show-bg: $news-info-headline;
$news-show-text: #030303;
$news-date-color: #6E6D72;
$news-show-divider: $news-date-color;
$news-show-author: $news-show-divider;
$news-show-content: #22A9E1;
$news-show-subhead: #231F20;
$news-show-desc: #3c3c3c;

.news-thumbnail {
    background: $news-bg;
    min-height: 300px;
    padding: 0;
    a {
        text-decoration: none;
    }
    .cover {
        width: 100%;
        min-height: 180px;
    }
    .info {
        padding: 15px;
        overflow: hidden;
        .headline {
            color: $news-info-headline;
            margin-bottom: 10px;
        }
        .columnist {
            float: left;
            margin-right: 10px;
        }
        .author {
            margin-top: 22px;
            font-size: 18px;
            color: $news-info-author;
        }
    }
}

.news-show {
    background: $news-show-bg;
    .cover {
        width: 100%;
        min-height: 200px;
    }
    .info {
        padding: 15px;
    }
    .columnist {
        float: left;
        margin: 0 15px 15px 0;
        overflow: hidden;
    }
    .author {
        color: $news-show-author;
        float: left;
        margin-top: 15px;
    }
    .date {
        margin: 10px 0;
        padding: 10px 0;
        color: $news-date-color;
        border-top: 1px solid $news-show-divider;
        border-bottom: 1px solid $news-show-divider;
        width: 30%;
    }
    .content {
        margin: 30px 0;
        &:before, &:after {
            content: "//////////";
            color: $news-show-content;
            font-size: 24px;
        }
    }
    .headline {
        margin: 15px 0;
    }
    .subhead {
        color: $news-show-subhead;
    }
    .desc {
        color: $news-show-desc;
    }

}

.-clearfix {
    clear: both;
}
