$player-position-md-active-bg: #549AF7;
$player-position-md-active-text: #fff;

.pane {
    // TODO: handle other platforms.
    height: initial !important;
    &.has-header {
        top: 64px !important;
    }
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    height: 100% !important;
}

.player-position {
    .md-active {
        background: $player-position-md-active-bg;
        color: $player-position-md-active-text !important;
    }
}

.tabs {
    .tabs-top {
        top: 84px !important;
    }
}

.md-sidenav-right {
    left: 100%;
    top: 64px !important;
}

.item-content {
    height: 100%;
}
