ion-view(view-title='News Detail')
    ion-content
        div.show-item
            img.cover(ng-src="{{r.cover}}")
            div.info
                img.columnist(ng-src="{{xx.user.profile_picture}}" style="height:50px; width:50px")
                p.author ssss
                div.date.-clearfix 30/30/15
                a(href='#') www.www.com
                h2.headline {{id}} xxxx
                div.content
                    h4.subhead {{subhead}} xxxx
                    h4.desc {{description}} xxxxx
        div.share
