ion-view(view-title='News')
    ion-content
        .news-thumbnail(collection-repeat="r in store.$collection")
            a(ui-sref='#/app/news/show/{{r.id}}')
                img.cover(ng-src="{{r.cover}}")
                .info
                    h3.headline {{r.headline}}
                    img.columnist(ng-src="{{r.user.profile_picture}}")
                    p.author {{r.user.displayname}}
