ion-view(view-title='{{"ui.t.account.game-setting.title"|trans}}')

    ion-content
        .game-setting
            .user-info
                .avatar
                .username AAAISMAUSER
                .fullname AAA ISMYUSER
                .email aaa@aaaa.com
            .team-choosen
                .header {{"ui.t.account.game-setting.header"|trans}}
                .logo

            a.button.button-block(ng-href="#/app/account-profile-favorite")
                |{{"ui.t.account.game-setting.choose"|trans}}

            button.button.button-block(type='submit')
                |{{"ui.t.account.game-setting.submit"|trans}}
