.season-points
    .row.subhead
        .halfcircle
        .col-90
            .title {{'ui.t.ranking.prediction.season-point-en'|trans}}
                span.titleth {{'ui.t.ranking.prediction.season-point-th'|trans}}
    .subtitle  {{'ui.t.ranking.prediction.game-prediction'|trans}}
    .row.bar
        .col-33
            .titlebar {{'ui.t.ranking.prediction.home'|trans}}
        .col-33
            .titlebar {{'ui.t.ranking.prediction.draw'|trans}}
        .col-33
            .titlebar {{'ui.t.ranking.prediction.away'|trans}}

    .row.point-bar
        .col-33
            .score  24
                span  8
            .unit {{'ui.t.ranking.prediction.point'|trans}}
                |·  {{'ui.t.ranking.prediction.time'|trans}}
        .col-33
            .score  15
                span  5
            .unit {{'ui.t.ranking.prediction.point'|trans}}
                |·  {{'ui.t.ranking.prediction.time'|trans}}
        .col-33
            .score   3
                span  2
            .unit {{'ui.t.ranking.prediction.point'|trans}}
                |·  {{'ui.t.ranking.prediction.time'|trans}}

    .row.bar
        .col
            .titlebar {{'ui.t.ranking.prediction.total'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.right'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.miss'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.point'|trans}}
    .row.point-bar
        .col.point-border
            .score 15
        .col.point-border
            .score 14
        .col.point-border
            .score 1
        .col
            .scorecolor 45
    .line
    .row.precisely
        .col-50
            .resultname {{'ui.t.ranking.prediction.result'|trans}}
        .col-50
            .percent 92
                span.resultunit {{'ui.t.ranking.prediction.percentage'|trans}}
    .subtitle {{'ui.t.ranking.prediction.game-score'|trans}}
    .row.bar
        .col
            .titlebar {{'ui.t.ranking.prediction.total'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.right'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.guess'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.miss'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.point'|trans}}
    .row.point-bar
        .col.point-border
            .score 15
        .col.point-border
            .score 15
        .col.point-border
            .score 15
        .col.point-border
            .score 15
        .col
            .scorecolor 15
    .line
    .row.precisely
        .col-50
            .resultname {{'ui.t.ranking.prediction.result'|trans}}
        .col-50
            .percent 75
                span.resultunit {{'ui.t.ranking.prediction.percentage'|trans}}
    .row.total
        .col-50
            .resultname {{'ui.t.ranking.prediction.resultname'|trans}}
        .col-50
            .sum 79
                span.resultunit {{'ui.t.ranking.prediction.point'|trans}}
