.lasted-match
    .row.subhead
            .halfcircle
            .col-90
                .title {{'ui.t.ranking.prediction.lastmatch-en'|trans}}
                    span.titleth {{'ui.t.ranking.prediction.lastmatch-th'|trans}}

    .subtitle {{'ui.t.ranking.prediction.game-prediction'|trans}}

    .lastedMatch(ng-repeat="lastedPrediction in lastedPredictions")
        .date {{lastedPrediction.date}}
        .row.match
            .col-33
                .club(
                    ng-class="{focus : lastedPrediction.scoreHome " +
                     "> lastedPrediction.scoreAway}"
                )
                    | {{lastedPrediction.homeClub}}
                    span {{lastedPrediction.scoreHome}}
            .col-15
                .handicap {{lastedPrediction.handicap}}
            .col-33
                .club(
                    ng-class="{focus : lastedPrediction.scoreAway " +
                    "> lastedPrediction.scoreHome}"
                )
                    | {{lastedPrediction.scoreAway}}
                    span  {{lastedPrediction.awayClub}}
            .col
                .scorecolor {{lastedPrediction.scoreWinner}}
                    | {{'ui.t.ranking.prediction.point'|trans}}

    .line

    .row.total
        .col-50
            .resultname {{'ui.t.ranking.prediction.resultname'|trans}}
        .col-50
            .sum 14
                span.resultunit  {{'ui.t.ranking.prediction.point'|trans}}

    .subtitle {{'ui.t.ranking.prediction.game-score'|trans}}

    .lastedMatch(ng-repeat="lastedPrediction in lastedPredictions")
        .date {{lastedPrediction.date}}

        .row.match
            .col-33
                .club {{lastedPrediction.homeClub}}
                    span {{lastedPrediction.scoreHome}}
            .col-15
                .handicap {{lastedPrediction.handicap}}
            .col-33
                .club {{lastedPrediction.scoreAway}}
                    span  {{lastedPrediction.awayClub}}
            .col
                .scorecolor {{lastedPrediction.scoreLine}}
                    |{{'ui.t.ranking.prediction.point'|trans}}

        .row.match
            .scorereal {{'ui.t.ranking.prediction.score'|trans}}
                | {{lastedPrediction.scoreReal}}

    .line

    .row.total
        .col-50
            .resultname {{'ui.t.ranking.prediction.resultname'|trans}}
        .col-50
            .sum 7
                span.resultunit {{'ui.t.ranking.prediction.point'|trans}}

    .line
