.month-points
    .row.subhead
        .halfcircle
        .col-90
            .title Month Points
                span.titleth   คะแนนรวมประจำเดือน เมษายน
    .subtitle  เกมทายผล
    .row.bar
        .col-33
            .titlebar เจ้าบ้าน
        .col-33
            .titlebar เสมอ
        .col-33
            .titlebar ทีมเยือน
    .row.point-bar
        .col-33
            .score  9
                span  3
            .unit คะแนน ·  นัด
        .col-33
            .score  3
                span  1
            .unit คะแนน ·  นัด
        .col-33
            .score   0
                span  1
            .unit คะแนน ·  นัด
    .row.bar
        .col
            .titlebar จำนวน
        .col
            .titlebar ถูก
        .col
            .titlebar ผิด
        .col
            .titlebar คะแนน
    .row.point-bar
        .col.point-border
            .score 5
        .col.point-border
            .score 4
        .col.point-border
            .score 1
        .col
            .scorecolor 12
    .line
    .subtitle  เกมทายสกอร์
    .row.bar
        .col
            .titlebar จำนวน
        .col
            .titlebar ถูก
        .col
            .titlebar เฉียด
        .col
            .titlebar ผิด
        .col
            .titlebar คะแนน
    .row.point-bar
        .col.point-border
            .score 15
        .col.point-border
            .score 15
        .col.point-border
            .score 15
        .col.point-border
            .score 15
        .col
            .scorecolor 15
    .line
    .row.total
        .col-50
            .resultname คะแนนรวม
        .col-50
            .sum 79
                span.resultunit  คะแนน
