.month-points
    .row.subhead
        .halfcircle
        .col-90
            .title {{'ui.t.ranking.prediction.month-point-en'|trans}}
                span.titleth   {{'ui.t.ranking.prediction.month-point-th'|trans}}

    .subtitle  {{'ui.t.ranking.prediction.game-prediction'|trans}}

    .row.bar
        .col-33
            .titlebar {{'ui.t.ranking.prediction.home'|trans}}
        .col-33
            .titlebar {{'ui.t.ranking.prediction.draw'|trans}}
        .col-33
            .titlebar {{'ui.t.ranking.prediction.away'|trans}}

    .row.point-bar
        .col-33
            .score  9
                span  3
            .unit {{'ui.t.ranking.prediction.point'|trans}}
                |·  {{'ui.t.ranking.prediction.time'|trans}}
        .col-33
            .score  3
                span  1
            .unit {{'ui.t.ranking.prediction.point'|trans}}
                |·  {{'ui.t.ranking.prediction.time'|trans}}
        .col-33
            .score   0
                span  1
            .unit {{'ui.t.ranking.prediction.point'|trans}}
                |·  {{'ui.t.ranking.prediction.time'|trans}}
    .row.bar
        .col
            .titlebar {{'ui.t.ranking.prediction.total'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.right'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.miss'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.point'|trans}}

    .row.point-bar
        .col.point-border
            .score 5
        .col.point-border
            .score 4
        .col.point-border
            .score 1
        .col
            .scorecolor 12

    .line

    .subtitle  {{'ui.t.ranking.prediction.game-score'|trans}}

    .row.bar
        .col
            .titlebar {{'ui.t.ranking.prediction.total'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.right'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.guess'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.miss'|trans}}
        .col
            .titlebar {{'ui.t.ranking.prediction.point'|trans}}

    .row.point-bar
        .col.point-border
            .score 15
        .col.point-border
            .score 15
        .col.point-border
            .score 15
        .col.point-border
            .score 15
        .col
            .scorecolor 15

    .line

    .row.total
        .col-50
            .resultname {{'ui.t.ranking.prediction.resultname'|trans}}
        .col-50
            .sum 79
                span.resultunit  {{'ui.t.ranking.prediction.point'|trans}}
